*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
}
html{
    background-image: url(docs/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Merriweather', serif;
}

/*De eerste sectie L100*/
/*Titel en onder L200*/
/*De kaartenL250*/
/*De endcards L300*/
/* <300 media en devices*/

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: blue;
    transition: 400ms ease-in-out;
}
a:active{
    color: blueviolet;
    transition: 300ms;
}

/*de balk*/
nav{
    position: fixed;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 7vh;
    max-height: 7vh;
    width: 100vw;
    background-color: rgb(30, 30, 30);
    font-family: 'Merriweather', serif;
    z-index: 100;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}
nav li{
    font-size: 150%;
    padding: 0 3vw 0 4vw;
}
nav img{
    width: 5.7vw;
    margin-right: auto
}

/*de flex box layout*/

body{
    position: relative;
    display: flex;
    width: 100vw;
    height: 300vh;
    background-color: white;
}
div.balk{
    display: flex;
    height: 300vh;
    width: 12.5vw;
    background: rgba(4,2,1, 9.95);
}
/*de heeft er niks mee te maken*/
div.pas{
    height: 7vh;
    width: 100%;
    background-color: white;
}
section{
    height: 300vh;
    width: 75vw;
    display: flex;
    position: relative;
    flex-direction: column;
    background: rgba(4,2,1, 0.9);
}